body {
    font-family: Arial;
    margin: 0;
    background-color: #FCF7F8;}

header {
    background-color: F2A541;
    color: #FCF7F8;
    padding: 40px;
    text-align: center;}

nav a {
    color: #FCF7F8;
    text-decoration: none;}
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;}

h1 {
    font-family: Bamboo;
    color: #333;
    text-align: center;
    font-size: 400%;}

p {
    line-height: 1.5;
    margin-bottom: 20px;}

img {
    border:5px solid black
    margin: 0 ;}
